In [60]:
import csv
import pandas as pd

filename = "StatewiseTestingDetails.csv"

fields = []
rows = []

with open(filename, 'r') as csvfile:
    
    csvreader = csv.reader(csvfile)
    
    fields = next(csvreader)
    
    # extracting each data row one by one 
    for row in csvreader:
        rows.append(row)
    
    # get total number of rows 
    print("Total no. of rows: %d" %(csvreader.line_num)) 
  
# printing the field names 
print('Field names are:' + ', '.join(field for field in fields)) 
  
#  printing first 5 rows 
print('\nFirst 5 rows are:\n') 
for row in rows[:5]: 
    # parsing each column of a row 
    for col in row: 
        print("%10s"%col), 
#     print('\n')

Total no. of rows: 7999
Field names are:Date, State, TotalSamples, Negative, Positive

First 5 rows are:

2020-04-01
     Delhi
      2621


2020-04-01
    Kerala
      7965
      7256
       265
2020-04-01
West Bengal
       659
       568
        37
2020-04-02
Andhra Pradesh
      1800
      1175
       132
2020-04-02
     Assam
       962
       819
        16

In [61]:
import pandas as pd

df = pd.read_csv(
    'StatewiseTestingDetails.csv',
    header = None,
    sep = ',',
)

print(df.columns)
print(df.head(10))

Int64Index([0, 1, 2, 3, 4], dtype='int64')
            0               1             2         3         4
0        Date           State  TotalSamples  Negative  Positive
1  2020-04-01           Delhi          2621       NaN       NaN
2  2020-04-01          Kerala          7965      7256       265
3  2020-04-01     West Bengal           659       568        37
4  2020-04-02  Andhra Pradesh          1800      1175       132
5  2020-04-02           Assam           962       819        16
6  2020-04-02      Chandigarh           124        98        18
7  2020-04-02    Chhattisgarh          1232       921         9
8  2020-04-02             Goa           220       197         5
9  2020-04-02          Kerala          8456      7622       286

In [62]:
import pandas as pd
import numpy as np 
import csv

reader = csv.reader(open('StatewiseTestingDetails.csv'))
result = {}
for row in reader:
    key = row[0]
    if key in result:
        # implement your duplicate row handling here
        pass
    result[key] = row[1:]
# print(result)
# df = pd.DataFrame(result, index = ['a','b','c','d','e','f'])

# print(df)
print("............")

# df_filtered = df.query("Positive>10")
# print(df_filtered)

............

In [63]:
import pandas as pd

def convert_num(cell):
    if cell<str(2):
        return 34
    return cell

df = pd.read_csv("StatewiseTestingDetails.csv", na_values=["NaN"])
df

            Date           State  TotalSamples Negative  Positive
0     2020-04-01           Delhi          2621      NaN       NaN
1     2020-04-01          Kerala          7965     7256     265.0
2     2020-04-01     West Bengal           659      568      37.0
3     2020-04-02  Andhra Pradesh          1800     1175     132.0
4     2020-04-02           Assam           962      819      16.0
...          ...             ...           ...      ...       ...
7993  2020-12-06       Telangana       5779490      NaN       NaN
7994  2020-12-06         Tripura        540088   507200   32888.0
7995  2020-12-06   Uttar Pradesh      20308636      NaN       NaN
7996  2020-12-06     Uttarakhand       1424389  1346392       NaN
7997  2020-12-06     West Bengal       6135854      NaN       NaN

[7998 rows x 5 columns]

In [64]:
filt = (df['State'] == 'Tamil Nadu')

df[filt]

            Date       State  TotalSamples Negative  Positive
15    2020-04-03  Tamil Nadu          3684     2789     411.0
53    2020-04-08  Tamil Nadu          5305     4414     690.0
68    2020-04-09  Tamil Nadu          7267     5824     834.0
93    2020-04-10  Tamil Nadu          8410     6838     911.0
117   2020-04-11  Tamil Nadu          9842     7779     969.0
...          ...         ...           ...      ...       ...
7865  2020-12-02  Tamil Nadu      12193913      NaN       NaN
7899  2020-12-03  Tamil Nadu      12264069      NaN       NaN
7931  2020-12-04  Tamil Nadu      12334447      NaN       NaN
7963  2020-12-05  Tamil Nadu      12405328      NaN       NaN
7992  2020-12-06  Tamil Nadu      12476093      NaN       NaN

[244 rows x 5 columns]

In [76]:
filt = (df['State'] == 'Tamil Nadu') & (df["Negative"] > "3684") & (df["Date"] == "2020-04-08")
df[filt]

          Date       State  TotalSamples Negative  Positive
53  2020-04-08  Tamil Nadu          5305     4414     690.0

In [75]:
df.head()

         Date           State  TotalSamples Negative  Positive
0  2020-04-01           Delhi          2621      NaN       NaN
1  2020-04-01          Kerala          7965     7256     265.0
2  2020-04-01     West Bengal           659      568      37.0
3  2020-04-02  Andhra Pradesh          1800     1175     132.0
4  2020-04-02           Assam           962      819      16.0